@media screen and (width > 1600px) {
	/*.font-size-12vmax, .about-text, .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
		font-size: 16px !important;
	}

	.font-size-16vmax, .about-heading, .font-size-21vmax{
		font-size: 28px !important;
	}*/

}
@media screen and (width > 1200px) {
	.w-xl-50-lg-70{
		width: 50% !important;
	}
	.w-xl-75{
		width: 75% !important;
	}
}

@media screen and (width > 992px){
	.px-1rem{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.px-2rem{
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
	.w-lg-50{
		width: 50% !important;
	}
	.w-lg-60{
		width: 60% !important;
	}
	.w-lg-65{
		width: 65% !important;
	}
	.w-lg-70{
		width: 70% !important;
	}
	.w-xl-50-lg-70{
		width: 70% !important;
	}
	.w-lg-75{
		width: 75% !important;
	}
	.w-lg-80{
		width: 80% !important;
	}
	.w-lg-85{
		width: 85% !important;
	}
	.w-xl-65-lg-85{
		width: 85% !important;
	}
	.w-lg-90{
		width: 90% !important;
	}
	.pt-lg-20px{
		padding-top: 20px !important;
	}
	.pt-lg-100px{
		padding-top: 100px !important;
	}
}
@media screen and (width <= 1200px){
	.home-banner-text{
		font-size: 4.2vmax;
	}

	#register .card .card-body > .img-fluid{
		width: 100%;
	}

	.font-size-xl-12vmax{
		font-size: 1.8vmax !important;
	}
}
@media screen and (width <= 992px){
	.w-xl-50-lg-70{
		width: 50% !important;
	}

	.about-container-minmax-height {
		min-height: 280px;
		max-height: 380px;
	}

	.home-banner-text {
		font-size: max(2.7vmax,48px);
	}
	.masthead{
		height: 100vh !important;
/*		max-height: 430px;*/
	}

	#carouselExampleIndicators .banner-video {
		max-height: 100%;
	}

	#carouselExampleIndicators1 .carousel-item > img{
	  height: 100%;
	  max-height: fit-content;
	}

	.whatIsIMP{
		height: auto !important;
	}

	.other-sections {
		margin-top: 1rem;
	}

	/*input[type="submit"], button[type="submit"]{
		width: 80% !important;
		margin: 1rem auto !important;
	}*/
/*
	.row > * {
		margin-top: 1rem;
	}*/

	.about-heading{
		text-align: center;
	}
	#register .card .card-body > .img-fluid, .register-image-container > .img-fluid{
		width: 100%;
	}
}	
@media screen and (width < 768px){
	.home-banner-text {
		 width: 100%;
		 text-align: center; 
	}	
}

@media screen and (width < 575px){
	.custom-position-sm-absolute{
		position: static !important;
	}
	.instructions-bg-sm-opacity{
		background-color: var(--custom-black-opacity2) !important;
	}
	.bg-gradient-tbl{
		background-image: linear-gradient(to bottom left, #3F3E3E88 75%, #f8ab1a);
	}

	.bg-gradient-tbr{
		background-image: linear-gradient(to bottom right, #3F3E3E88 75%, #f8ab1a);
	}

	.register-sm-opacity-85{
	  opacity: 0.5 !important;
	}

	.register-instructions-container{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: url("../img/register-sm-bg-img.jpg");
	}
	/*.register-image-container:nth-child(1){
		background-image: url("../img/registerImage1.png");
	}
	.register-image-container:nth-child(2){
		background-image: url("../img/registerImage2.png");
		
	}
	.register-image-container:nth-child(3){
		background-image: url("../img/registerImage3.png");
		
	}
	.register-image-container:nth-child(4){
		background-image: url("../img/registerImage4.png");
		
	}*/

	.about-heading {
		font-size: 20px !important;
	}
	.form-control, .font-size-sm-12vmax{
		font-size: 16px !important;
	}
}