:root{
    --custom-black: #1E1E1E;
    --custom-black-1: #2B2B2B;
    --custom-black-opacity: #2B2B2B88;
    --custom-black-opacity1: #2B2B2B55;
    --custom-black-opacity2: #2B2B2B01;
    --custom-black-opacity3: #2B2B2BDB;
    --custom-black-opacity4: #2B2B2BF7;
    --custom-orange-opacity: #A4755F55;
    --custom-orange-opacity1: #A4755F88;
    --custom-nav-text: #F9F9F9;
    --primary-gold: #f8ab1a;
    --custom-gray-1: #676767;
    --custom-gray-2: #3F3E3E;
  }

html{
  scroll-behavior: smooth;
}  

body{
  font-family: 'Crimson';
  font-size: max(0.9vmax, 18px);
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

button[type="submit"], input[type="button"]{
  font-size: max(0.9vmax, 16px);
}

button[type="submit"]:hover {
  color: #212529 !important;
  box-shadow: 0 0 5px 5px var(--primary-gold) !important;
  background-color: var(--bs-warning);
}

.form-check-input:checked {
  background-color: var(--primary-gold);
  border-color: var(--primary-gold);
}

.invalid-feedback {
  color: var(--primary-gold);
}

.custom-tooltip {
  --bs-tooltip-bg: var(--primary-gold) !important;
}

.tooltip > .tooltip-inner{
  background-color: var(--primary-gold);
  color: var(--custom-black);
}

.custom-ip-mw-515px{
  max-width: 515px !important;
}


.tooltip-arrow {display: none !important;}

.tooltip-h4{
  color: #000 !important;
  font-weight: 500;
}

.container-fluid{
  max-width: 1824px;
}
.masthead .container-fluid{
  width: 100%;
  max-width: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--custom-black);
  background-color: var(--primary-gold);
  box-shadow: 0px 2px 2px 2px #fff;
}

.nav-pills .nav-link{
  color: var(--custom-black);
  background-color: var(--primary-gold);
  font-weight: 700;
  font-size: max(1.2vmax,16px); 
}

.instructions-bg-sm-opacity{
  background-color: var(--custom-black-opacity3);
}

.custom-black-opacity-bg{
  background-color: var(--custom-black-opacity);
}
.custom-black-opacity-bg1{
  background-color: var(--custom-black-opacity1);
}
.custom-black-opacity-bg2{
  background-color: var(--custom-black-opacity2);
}
.custom-black-opacity-bg4{
  background-color: var(--custom-black-opacity4);
}
.instructions-bg-sm-opacity, .custom-black-opacity-bg3{
  background-color: var(--custom-black-opacity3);
}
.custom-orange-opacity-bg{
  background-color: var(--custom-orange-opacity);
}
.custom-orange-opacity-bg1{
  background-color: var(--custom-orange-opacity1);
}

.custom-black-bg{
  background-color: var(--custom-black) !important;
}
.custom-black-text{
   color: var(--custom-black) !important;
}
.custom-black-1-bg{
  background-color: var(--custom-black-1) !important;
}
.custom-black-1-text{
   color: var(--custom-black-1) !important;
}
.custom-gray-1-bg{
  background-color: var(--custom-gray-1) !important;
}
.custom-gray-1-text{
   color: var(--custom-gray-1) !important;
}
.custom-gray-2-bg{
  background-color: var(--custom-gray-2) !important;
}
.custom-gray-2-text{
   color: var(--custom-gray-2) !important;
}
.custom-nav-text{
  color: var(--custom-nav-text) !important;
} 

.custom-position-sm-absolute{
  position: absolute;
}     

.primary-gold-bg{
  background-color: var(--primary-gold);
}
.primary-gold-text{
  color: var(--primary-gold);
}

.font-size-32px{
  font-size: 32px !important;
}

.font-size-21vmax{
  font-size: max(2.1vmax, 24px) !important;
}
.font-size-2vmax{
  font-size: max(2vmax, 22px) !important;
}
.font-size-15vmax{
  font-size: max(1.5vmax, 14px) !important;
}
.font-size-18vmax{
  font-size: 1.8vmax !important;
}
.font-size-16vmax{
  font-size: 1.6vmax !important;
}
.font-size-sm-12vmax,.font-size-xl-12vmax,.font-size-12vmax{
  font-size: 1.2vmax !important;
}

.pt-lg-100px{
  padding-top: 20px;
}
/*
.pt-100px{
  padding-top: 100px !important;
}*/

.min-height-75px{
  min-height: 75px;
}

.font-weight-400{
  font-weight: 400 !important;
}

.font-weight-500{
  font-weight: 500 !important;
}
.font-weight-600{
  font-weight: 600 !important;
}
.font-weight-700{
  font-weight: 700 !important;
}

.opacity-50{
  opacity: 0.50 !important;
}
.opacity-75{
  opacity: 0.75 !important;
}
.opacity-85{
  opacity: 0.85 !important;
}
.register-sm-opacity-85{
  opacity: 0.85 !important;
}
.opacity-90{
  opacity: 0.90 !important;
}

.ls-03{
  letter-spacing: 0.3 !important;
}

.tab-content{
  flex-grow: 1;
}
.other-sections {
  min-height: 50vh;
/*   padding-top: 100px; */
/*  background-color: #4A484855;*/
  max-height: fit-content;
}

#about{
  background-image: url("../img/second_section.svg");
  background-size: cover;
}
#signup{
  background-image: url("../img/third_section.svg");
  background-size: cover;
}
#register{
  background-image: url("../img/fourth_section.svg");
  background-size: cover;
}

.masthead {
  height: 100vh;
  /* min-height: 500px; */
  /* background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-link.px-2rem.custom-nav-text.font-size-32px{
  font-weight: 700;
  line-height: 51px;
}

.nav-link.px-2rem.custom-nav-text.font-size-32px:hover{
  text-decoration: underline;
}

.nav-link-active{
  /*text-decoration: underline;*/
  color: var(--primary-gold) !important;
}
#carouselExampleIndicators1{
  max-height: 500px;
}

#carouselExampleIndicators1 .carousel-item > img {
  min-height: 485px;
  max-height: 500px !important;
}

#carouselExampleIndicators .carousel-item > img{
  height: 100vh !important;
  max-height: 100vh !important;
}

.floating-label{
  font-size: max(1.2vmax,16px);
  color: var(--custom-gray-1);
}

.carousel-control-next, .carousel-control-prev{
  height: fit-content;
  top: 50%;
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

.banner-video{
  object-fit: fill;
  /*height: 100vh;*/
  /*max-height: 500px;*/
  width: 100%;
}

#carouselExampleIndicators .banner-video{
  object-fit: fill;
  height: 100vh;
  width: 100%;
}

#play-pause, #play-pause1, #play-pause2{
  top: 49%;
}

.home-banner-text{
  bottom: 10%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 60px;
  background-color: #212529EF;
  text-align-last: center;
}

.carousel-control-prev-icon {
 box-shadow: 0px 0px 5px 5px var(--bs-dark); 
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f8ab1a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 background-color: var(--bs-white);
}

.carousel-control-next-icon {
  box-shadow: 0px 0px 5px 5px var(--bs-dark); 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f8ab1a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  background-color: var(--bs-white);
}

.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover{
  background-color: var(--bs-dark);
}

#carouselExampleIndicators1 .carousel-inner {
  height: 100%;
  max-height: 500px;
}

.about-heading{
  font-weight: 700;
  font-size: 28px;
}

.about-text{
  font-weight: 400;
  letter-spacing: 0em;
/*  font-size: max(0.9vmax, 16px);*/
}

.whatIsIMP{
  height: calc(100% - 500px);
}

/*================= Flit Carousel ===================*/

/* no circle */
.flickity-button {
    
  background: transparent;
}
.flickity-button:hover {
    
  background: transparent;
  color: black;
}

.flickity-prev-next-button {
  width: 25px;
  height: 25px;
  top: 90%;
  margin-bottom: 5px;
}

.flickity-prev-next-button.previous {
  left: 40% !important;

}
.flickity-prev-next-button.next {
  right: 40% !important;
}
.flickity-button-icon {
  fill: white;
}
.flickity-button:disabled {
  display: none;
}
    
.flet-carousel {
  font-family: Arial, Helvetica, sans-serif;
  margin:auto;
  max-width: 680px;
  height: 300px;
  border-radius: 20%;
}
.carousel-cell {
  margin-top: 35px;
  margin-right: 35px;
  /*margin-bottom: 35px;*/
  float: right;
  max-width: 201px;
  width: 100%;
  height: 200px;
  border-radius: 15px;
  counter-increment: carousel-cell;
  transition: all .3s ease;
  opacity: 0.8;
  background: #b9b9b9;
  filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}
  .carousel-cell.is-selected {
    filter: blur(0);
    opacity: 1;
    background: white ;
    transform: scale(1.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
    
    /* name */
.carousel-cell .n {
  font-size: 18px;
  margin-top: 5px;
  text-align: center;
  color:black;
  counter-increment: carousel-cell;
}
    
    /* button */
.carousel-cell .b {
  cursor: pointer;
  margin: 5px auto 0px;
  width: 180px;
  padding: 1px;
  background: green;
  border: 1px solid green;
  border-radius: 15px;
  font-size: 15px;
  color: white;
  text-align: center;
  counter-increment: carousel-cell;
  transition: all .3s ease;
  text-transform: capitalize;
}

 /* picture */
.carousel-cell .p {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  counter-increment: carousel-cell;
}
    
.carousel-cell .b:hover {
  background: #00e509;
  transform: scale(1.03);
  font-size: 16px;
}
    
.carousel-cell .b:active {
  background: white;
  color: green;
  transform: scale(0.9);
  font-size: 16px;
}
    
.carousel-cell .b-selected {
  cursor: pointer;
  margin: auto;
  width: 180px;
  padding: 1px;
  background: white;
  border: 1px solid green;
  border-radius: 15px;
  font-size: 15px;
  color: green;
  text-align: center;
  counter-increment: carousel-cell;
  transition: all .3s ease;
}

.about-container-minmax-height{
  min-height: 480px;
  max-height: 480px;
}

.register-image-container{
  overflow: hidden;
}
.register-image-container > img{
  transition: all 0.5s;
}  

.register-image-container:hover > img{
  transform: scale(1.2);
}


.register-card-body .card-text{
/*  font-size: max(0.9vmax, 16px);*/
}

.register-card-body-1{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/registerImage1.png");
}
.register-card-body-2{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/registerImage2.png");
}
.register-card-body-3{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/registerImage3.png");
}
.register-card-body-4{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/registerImage4.png");
}

#register .card-header {
  font-size: max(1.2vmax,22px);
  color: var(--primary-gold);
}

.register-instructions-text{
/*  font-size: max(0.9vmax, 16px);*/
}

.form-control, .form-select{
  padding: 3px !important;
}

.custom-text-justify{
  text-align: justify;
  text-align-last: center;
  letter-spacing: 0.3px;
}

.ls-03px{
  letter-spacing: 0.5px;
}